<li id="<%= dom_id issue %>" class="relative flex gap-x-4  pt-5 mb-5">
  <div class="absolute left-0 top-0 flex w-6 justify-center -bottom-6">
    <div class="w-px bg-gray-200"></div>
  </div>
  <span class="relative mt-3  flex-none rounded-full">
    <%= render Layout::LabelIcon::Component.new(label: issue.label_name) %>
  </span>  
  <div class="flex-auto rounded-md p-3 ring-1 ring-inset ring-gray-200">
    <div class="flex justify-between gap-x-4">
      <div class="py-0.5 text-xs leading-5 text-gray-500">
        <span class="font-medium text-gray-900"><%= issue.reported_by.titleize %></span> ha reportado:
      </div>
      <%= tag.time time_ago_in_words(issue.created_at), datetime: issue.created_at, class: "flex-none py-0.5 text-xs leading-5 text-gray-500" %>
    </div>
    <p class="text-sm font-medium leading-6 text-gray-800 mt-2">
      <%= issue.title %>
      <%= badge(issue.label_name) %>
    </p>
    
    <%= tag.p issue.description.truncate(300), class: "text-sm leading-6 text-gray-500 mt-2" %>

    <%= turbo_frame_tag "#{dom_id(issue)}_toggle" do %>
      <%= form_with(model: issue, 
                    url: toggle_status_issue_path(issue), 
                    html: { 
                      method: :put, 
                      class: "text-right mt-3",
                      data: {
                        turbo_stream: true
                      }
                    }) do |form| %>
        <%= form.hidden_field :project_id, value: current_user.project.id %>
        <%= form.hidden_field :id %>
        <%= form.hidden_field :completed %>
        <input autocomplete="off" type="hidden" value="<%= issue.id %>" name="id" id="id">

        <%= button_tag type: "submit", class: "#{!issue.completed? ? 'text-green-600' : 'text-red-600'}" do %>
          <span class="text-sm">
            Marcar como <%= !issue.completed? ? "cerrado" : "abierto" %>
          </span>
          <%= icon("fa-solid", "circle-check", class: "") %>          
        <% end %>
      <% end %>
    <% end %>

    <p class="text-right mt-3">
      <%= link_to issue_path(issue), title: "Ver Ticket", class: "text-amber-600" do %>
        <%= icon("fa-solid", "eye") %>
      <% end %>
    </p>
  </div>
</li>
